.wrapper {
  /* height: 100%; */
  background-color: rgb(232, 234, 246);
  padding: 6vh 0vh 6vh;
}

.bio-container {
  margin: auto;
  padding: 1rem 2rem 9vh;
  height: 100%;
  width: 75%;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 0.25rem;
  background-color: white;
}

.bio-pic {
  float: left;
  padding: 2vh 1vw 4vh;
  height: 20vh;
  min-height: 280px;
  border-radius: 5rem;
}

.bio-container h2 {
  font-size: 37.5px;
  margin-top: 2vh;
}

.bio-container p {
  font-size: large;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

@media only screen and (min-width: 1800px) {
  .bio-container {
    padding-bottom: 5vh;
  }
}

@media only screen and (max-width: 1200px) {
  .bio-container {
    padding-bottom: 4vh;
  }
  .bio-pic {
    margin-right: 1vw;
  }
  .bio-container p {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .bio-container {
    width: 95vw;
    padding-bottom: 5vh;
    margin-bottom: 0;
  }

  .bio-pic {
    float: left;
    height: 25%;
    max-height: 300px;
    padding-right: 2vw;
    padding-bottom: 2vh;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding-top: 2vh;
    margin-top: 0;
  }
  .bio-container {
    display: flex;
    /* margin-top: 0; */
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bio-container h2 {
    text-align: left;
    margin-top: 0vh;
    padding-left: 5vw;
  }

  .bio-container p {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .sm-hide {
    display: none;
  }

  .bio-pic {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 25%;
    border-radius: 45%;
  }
}

@media only screen and (max-width: 400px) {
  .wrapper {
    padding-top: 4vh;
  }
}
