.wrapper {
  background-color: rgb(232, 234, 246);
  padding: 5rem;
}

.themed-container {
  background-color: white;
  padding: 3rem;
  border: 1px solid grey;
  border-radius: 2rem;
}

.themed-container h2 {
  padding-bottom: 1rem;
}
