.wrapper {
  height: 60vh;
  padding: 4vh;
  background-color: rgb(232, 234, 246);
}

.container {
  width: 100%;
  margin: 4vh auto 4vh;
  padding: 2vh 5vh 2vh;
  border: 1px solid gray;
  border-radius: 2rem;
}

.bio-pic {
  float: left;
  margin: 2vh 2vh 1vh;
  height: 30vh;
  width: auto;
}

.container h2 {
  margin-top: 2vh;
}

.container p {
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    height: 100%;
    padding: 6vh 5vh 4vh;
  }
  .bio-pic {
    height: 25vh;
    margin-bottom: 0;
  }
}
/* 
@media only screen and (max-width: 600px) {
  .wrapper {
    height: 100%;
    padding: 6vh 5vh 4vh;
  }
  .bio-pic {
    height: 25vh;
    margin-bottom: 0;
  }
} */
/*
  .bio-pic {
    justify-self: center;
    height: 30vh;
    /* margin-top: 4vh; */
/* border-radius: 2rem;
  }
} */
