.about-cont {
  text-align: center;
  color: black;
  display: grid;
  height: 100%;
}

.jumbotron {
  background-image: url('../../images/background.jpg');
  /* width: 100%; */
  height: 100vh;
  padding-top: 20vh;
  margin-bottom: 0vh;
}

.content {
  background-color: gray;
  margin: 0 5vh 0;
  padding: 10vh 5vh 5vh;
  height: 70vh;
  opacity: 0.8;
}

.content h1 {
  font-size: 10vh;
  margin: 2vh;
}

.content h5 {
  font-size: 4vh;
  margin-bottom: 2vh;
}

.content img {
  height: 7vh;
  margin: 0 1vh 0.5vh;
}

@media only screen and (max-width: 600px) {
  .about-cont {
    padding-top: 7vh;
  }
  .jumbotron {
    padding-top: 8vh;
  }
  .content {
    margin: 0.5rem;
    padding: 10vh 1vh 1vh;
    height: 75vh;
  }
}
