.card {
  width: 24rem;
  margin: auto;
  padding: 1rem;

  background-color: #fff;
}

.code-btn {
  margin-right: 0.5rem;
}

/* .app-btn {
  margin: 0 1rem 0;
} */

.card-img {
  height: 30vh;
}

@media only screen and (max-width: 600px) {
  .card {
    /* margin: 2rem; */
  }
}

@media only screen and (max-width: 992px) {
  .card {
    /* margin: 3rem; */
  }
}
