.navBar {
  position: fixed;
  padding-left: 9rem;
  padding-right: 9rem;
  z-index: 100;
  background-color: black;
}

.dropdown {
  display: none;
}

.link {
  margin-right: 0.5em;
  margin-left: 0.5em;
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: silver;
}

.active {
  color: silver;
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .mr-auto {
    align-content: center;
  }

  .dropdown {
    display: inline;
  }
  
  /* .link {
    display: none;
  } */

}